body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
  position: relative;
}

.header-main {
  background: url(../images/Header-bg.png) 100% 100% no-repeat;
  background-size: cover;
  color: white;
  height: 42rem;
  position: relative;
}

.header-main .header-content .header-img img {
  position: absolute;
  right: 0px;
  top: 8rem;
}
.header-main .header-content h1 {
  padding-top: 4rem;
  font-size: 47px;
}
.header-main .header-content p {
  width: 70%;
}
section.prices {
  background: url(../images/prices.svg) no-repeat;
  padding: 24px 0;
  background-size: 64% 100%;
  background-position: right;
  border-bottom: 2px solid #c9ccce;
}
.prices .inner-header-detail h2 span:before {
  background: url(../images/price-bar.png);
  width: 95%;
}

.plan {
  background: #f2f2f2;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 32%);
  border-radius: 9px;
  padding: 94px 75px 79px;
}
.plan.detail.mt-5 {
  background: #c75b50;
  padding: 14px 75px 0px;
  min-height: 445px;
  margin-top: 6px !important;
  position: relative;
  z-index: 1;
  width: 472px;
  margin-left: -12px;
  color: #fff;
}
.title-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
  margin-top: 30px;
}
.detail-prices-bar {
}
.detail-prices-bar ul {
  margin: 0;
  padding: 0;
}
.detail-prices-bar ul li {
  list-style: none;
  background: #cd6b62;
  border-radius: 44px;
  padding: 8px;
  margin: 10px 0;
  font-weight: 300;
}
.title {
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  color: #c75b50;
}
.detail small {
  font-weight: 300;
  font-size: 17px;
}
.limited {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
}
.title span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 69px;
  color: #000000;
}
section.gdfys {
  background: url(/images/gdfys-bg.png) no-repeat;
  background-size: cover;
  padding: 24px 0;
}
.inner-header-detail h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 129.5%;
  position: relative;
}
.inner-header-detail h2 span {
  position: relative;
}
.inner-header-detail h2 span:before {
  content: "";
  position: absolute;
  background: url(../images/before-line.svg);
  width: 94%;
  height: 7px;
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.inner-header-detail p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  margin-top: 4rem;
}
.btn.button {
  margin-top: 2rem;
  padding: 12px 47px;
  box-shadow: 0px 3px 3px #ccc;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  border-radius: 56px;
  color: #d86358;
  background: rgba(216, 99, 88, 0.2);
}
footer {
  background: #c75b50;
  padding: 22px;
  color: #ffffff;
  font-size: 1rem;
}
.logo {
  margin-top: 0.6rem;
}
.f-detail ul h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  margin-top: 10px;
}
.f-detail ul {
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.f-detail ul li {
  list-style: none;
}
.f-detail ul li a {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

@media only screen and (max-width: 1300px) {
  .header-main .header-content .header-img img {
    top: 140px;
    width: 35rem;
  }
}
@media only screen and (max-width: 992px) {
  .header-main .header-content .header-img img {
    opacity: 0.1;
  }
}

@media screen and (max-width: 991px) and (min-width: 320px) {
  .plan.detail.mt-5 {
    margin-top: 29px !important;
    background: #c75b50;
    padding: 14px 75px 0px;
    min-height: 445px;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-left: 0;
    color: #fff;
  }
  section.prices {
    background: url(../images/prices.svg) no-repeat;
    padding: 24px 0;
    background-size: cover;
    background-position: right bottom;
    border-bottom: 2px solid #c9ccce;
  }
  .prices .p-0 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}
